*{
	margin: 0;
	padding: 0;
}
@font-face {
  font-family: 'Quicksand', sans-serif; 
  src: url("https://fonts.googleapis.com/css?family=Quicksand");
}
body,html{
	font-family: 'Quicksand', sans-serif;
}
body.without-login{
	background-image: url("../images/login-bg.jpg");
	background-repeat: no-repeat;
	width: 100%;
  font-family: 'Quicksand', sans-serif;
}
/*divider horizontal line*/
.divider-new {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  margin-bottom: 0px;
}
.divider-new h3 {
  margin-top: 5px;
  font-size: 1.2rem;
}
.divider-new:before {
  content: '';
  height: 1.5px;
  background: #c6c6c6;
  flex: 1;
  margin: 0 .45em 0 0;
}

.divider-new:after {
  content: '';
  height: 1.5px;
  background: #c6c6c6;
  flex: 1;
  margin: 0 0 0 .45em;

}
.help-block{
	color: #dc3545;
	font-style: italic;
}
.content-wrapper{
	background-color:#ededed;
}
.form-input.has-error{
    color: red;
}